# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store

# Node.js (if accidentally added frontend here)
node_modules/

